{% extends admin_base.html %}

    {% block titulo %} Posts {% end %}
    {% block linkinsert %} /postsinsert/  {% end %}

    {% block content %}    
        <div class="col-md-10 well">
            <table>
                <tr>
                    <td>
                        <span class="error">{{ message }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/posts/" method="GET">
                            <input type="submit" value="Voltar">
                        </form>
                    </td>
                </tr>
            </table>   
        </div>
    {% end %}
