{% extends admin_base.html %}

    {% block titulo %} Posts {% end %}
    {% block linkinsert %} /postsinsert/  {% end %}

    {% block content %}    
        <div class="col-md-10 well">
            {% if message %}
                <table>
                    <tr>
                        <td>
                            <span class="error">{{ message }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/posts/" method="GET">
                                <input type="submit" value="Voltar">
                            </form>
                        </td>
                    </tr>
                </table>
            
            {% else %}

                <table>
                     <form action="/postsinsert/" method="post">
                        {% raw xsrf_form_html() %}
                        {% for field in form %}
                        <tr>
                            {% if field.type != "HiddenField" %}
                                <th>{% raw field.label() %}</th>
                                <td>{% raw field() %}</td>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <td>
                                            <span class="error">{{ error }}</span>
                                        </td>
                                    {% end %}
                                {% end %}
                            {% end %}
                        </tr>
                        {% end %}
                         <tr>
                            <td>
                                <input type="submit" value="Salvar">
                            </td>
                        </tr>
                    </form>
                </table>   
            {% end %}
        </div>
    {% end %}
