 {% extends blog_base.html %}

{% block content %}
    {% for post,post_tags in posts %} 
        <!-- the actual blog post: title/author/date/content -->
        <h1>
            <a href="/post/{{ post.id }}">{{ post.titulo }}</a>
        </h1>
        <hr>
        <p>
            <i class="fa fa-calendar"></i> {{ post.data }}
        </p>
        {% if post_tags %}
            <p>
                <i class="fa fa-tags"></i> Tags: 
                {% for tag in post_tags %}
                    <a href="">
                        <span class="badge badge-info">
                            {{ tag }}
                        </span>
                    </a> 
                {% end %}
            </p>
        {% end %}
        <p class="lead">
            {{ post.titulo }}
        </p>
        <p>
            {{ post.conteudo }}
        </p>
        <br/>
    <!--
    <hr>
        <img src="http://placehold.it/900x300" class="img-responsive"/>
    <hr>-->
    {% end %}
{% end %}
